<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <mvc:annotation-driven />
    <!-- 定义个缺省的控制适配器 -->
    <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>
    <!-- 获取数据库配置文件 -->
    <!--<bean buildId="config"-->
          <!--class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">-->
        <!--<property username="locations">-->
            <!--<list>-->
                <!--<value>classpath:db-config.properties</value>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->

    <!-- 获取数据源 -->
    <!--<bean buildId="dataSource" class="org.apache.commons.dbcp.BasicDataSource">-->
        <!--<property username="driverClassName">-->
            <!--<value>${db.dirverClass}</value>-->
        <!--</property>-->
        <!--<property username="url">-->
            <!--<value>${db.url}</value>-->
        <!--</property>-->
        <!--<property username="username">-->
            <!--<value>${db.username}</value>-->
        <!--</property>-->
        <!--<property username="password">-->
            <!--<value>${db.password}</value>-->
        <!--</property>-->
    <!--</bean>-->

</beans>
